@import "../variables/global";

$loading-splash-size: 256px;

.app-loading-notification {
    font-family: sans-serif;
    text-align: center;
    border-radius: 50%;
    width: $loading-splash-size;
    height: $loading-splash-size;
    margin: - $loading-splash-size / 2;
    background: $primary-color;
    transition: transform 0.4s ease;
    color: #e0f7fa;
    position: fixed;
    top: 50%;
    left: 50%;

    &.complete {
        transform: scale(0) rotate(360deg);
    }
}

.loading-message {
    position: relative;
    top: 35%;

    h1 {        
        margin: 8px;
        font-size: 2.5em;
    }
}

.loading-indicator {

    & div {
        width: 18px;
        height: 18px;
        background-color: #e0f7fa;
        margin: 4px;
        border-radius: 100%;
        display: inline-block;
        -webkit-animation: blink 1s infinite ease-in-out both;
        animation: blink 1s infinite ease-in-out both;

        &:nth-child(2) {
            -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
        }

        &:nth-child(3) {
            -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
        }
    }
}

@-webkit-keyframes blink {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes blink {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}