@import "../variables/global";

.loading {
    text-align: center;
    border-radius: 50%;
    width: 256px;
    height: 256px;
    margin: -128px;
    background: $primary-color;
    transition: transform 0.4s ease;
    color: #e0f7fa;
    position: fixed;
    top: 50%;
    left: 50%;

    &.complete {
        transform: scale(0) rotate(360deg);
    }
}

.loading-message {
    position: relative;
    top: 30%;
}

.loading-indicator {

    & div {
    width: 18px;
        height: 18px;
        background-color: #e0f7fa;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;

        &:nth-child(1) {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        &div:nth-child(2) {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }
    }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}