@import "../core/error";

.app-loading-notification {
    display: none;
}

.no-script-error {
    position: fixed;
    top: 35%;
    left: 0;
    width: 100%;
    text-align: center;

    .error-container {
        display: inline-block;
        margin: 16px;
    }
}
